{% extends 'base.html' %}

{% block head %}
    <title>Profile</title>
{% endblock %}

{% block body %}
    {% set ns = namespace(winner = 1, download=['static/You_Suffer.zip', 'static/FREEDOM_DiVE.zip', 'static/Skype_x_Can_Can.zip']) %}
    <div class="container">
        <div class="row align-items-center">
            <div class="col-9" style="padding: 10px">
                <h2>Hello {{ name }}!</h2>
                <h3>This is your profile</h3>
                <h3>Your GUID is: {{ guid }}</h3>
                <h3>Download the client:
                    <button type="submit" class="btn btn-primary"
                            onclick="window.open('static/Client.jar')">Client.jar
                    </button>
                </h3>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-9" style="padding: 10px">
                <h2>Your scores</h2>
                <table class=" table table-dark table-striped table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Map ID</th>
                        <th scope="col">Map title</th>
                        <th scope="col">Your score</th>
                        <th scope="col">Score to beat</th>
                        <th scope="col">Done</th>
                        <th scope="col">Download</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for map, path in zip(maps, ns.download) %}
                        <tr>
                            <td>{{ map.id }}</td>
                            <td>{{ map.title }}</td>
                            <td>{{ map.score }}</td>
                            <td>{{ map.toBeat }}</td>
                            {% if map.done %}
                                <td>✅</td>
                            {% else %}
                                <td>❌</td>
                                {% set ns.winner = 0 %}
                            {% endif %}
                            <td>
                                <button type="submit" class="btn btn-primary"
                                        onclick="window.open('{{ path }}')">{{ path[7:] }}</button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% if not scored %}
            <div class="row align-items-center">
                <div class="col-9" style="padding: 10px">
                    <div class="alert alert-warning" role="alert">
                        If you have any problem with the client, please read the <a href="/#client" class="alert-link">setup</a> before contacting an administrator.
                    </div>
                </div>
            </div>
        {% endif %}
        {% if ns.winner == 1 %}
            <div class="row align-items-center">
                <div class="col-9" style="padding: 10px">
                    <h2>Congratulation, you won!</h2>
                    <h3>Here's your prize 🚩: {{ flag }}</h3>
                </div>
            </div>
        {% endif %}

    </div>
{% endblock %}