{% extends 'base.html' %}

{% block head %}
    <title>Click the Circles!</title>
{% endblock %}

{% block body %}
    <div>
        <h1>Click The Circles!</h1>
        <p>Are you better than Cookiezi? Show it to us and win a fantastic prize 🚩!</p>
        <h2>How to do it?</h2>
        <ul>
            <li><a href="/register">Register</a> on our website and get your GUID</li>
            <li><a href="#client">Download</a> our super secure anti tampering client and login with your GUID
            </li>
            <li>Beat the score on 3 <a href="#maps">maps</a> to show your skills</li>
            <li>Win the prize 🚩!</li>
        </ul>
    </div>
    <hr>
    <div>
        <h2>Download</h2>
        <div id="client">
            <h3>The client</h3>
            <button type="submit" onclick="window.open('static/Client.jar')">Download the client</button>
            <p>
                It's recommended to download and launch the client in an empty directory since it will create other
                files and folders to function.<br>
                The client has been tested on Windows (Windows 10) and Linux (MX Linux 21) with <a
                    href="https://www.oracle.com/it/java/technologies/javase/jdk11-archive-downloads.html">Java 11</a>.
            </p>
            <h3>Client login</h3>
            <p>To login into the client you first need to <a href="/register">register</a> to the website.<br>
                Once registered, <a href="/login">login</a> and go to your <a href="profile.html">profile</a>. There you
                will find your GUID to login into the client.<br>
                Launch the client and click on the top left corner where you see the word 'Guest'. On the menu, click on
                'Add User' and paste your GUID in 'Type your UID' and press enter on your keyboard.<br>
                You are now logged into the client and can play the challenge maps by clicking on the big blue star and
                then on 'play'.<br>
                Launching the game for the first time will create multiple files and folders in the client's path. Don't
                delete them since the client needs them to run properly.
            </p>
        </div>
        <div id="maps">
            <h3>The maps</h3>
            <p>Beat the score on these 3 maps (you can see the scores to beat on your <a href="/profile">profile</a>)
                and
                win the prize 🚩!</p>
            <table>
                <tr>
                    <th>Map 1: You suffer</th>
                    <th>Map 2: FREEDOM DiVE</th>
                    <th>Map 3: Skype x Can Can</th>
                </tr>
                <tr>
                    <td>
                        <button type="submit" onclick="window.open('static/You_Suffer.zip')">Download</button>
                    </td>
                    <td>
                        <button type="submit" onclick="window.open('static/FREEDOM_DiVE.zip')">Download</button>
                    </td>
                    <td>
                        <button type="submit" onclick="window.open('static/Skype_x_Can_Can.zip')">Download</button>
                    </td>
                </tr>
            </table>
            <h3>Add a map</h3>
            <p>
                To add a map, look for the folder 'Songs' inside the client's path (if you don't see the folder, launch
                the game and it should be created. If it's still not showing, create it yourself).<br>
                Download the zip file of the map from the table above and extract its content inside the "Songs" folder
                you located previously.<br>
                The next time you launch the client the map will be loaded and you'll be ready to play it.<br>
                If you have too many maps in your play window, just start typing the name of the map you need and the
                client will filter it for you.
            </p>
        </div>
    </div>

{% endblock %}