{% extends 'base.html' %}

{% block head %}
<title>Register</title>
{% endblock %}

{% block body %}
<h1>Click The Circles!</h1>
<p>Are you better than Cookiezi? Show it to us and win a fantastic prize 🚩!</p>
<h2>How to do it?</h2>
<ul>
    <li><a href="register.html">Register</a> on our website and get your UUID</li>
    <li><a href="download.html">Download</a> our super secure anti tampering client and login with your UUID</li>
    <li>Beat the score on 3 <a href="maps.html">maps</a></li>
    <li>Win the prize 🚩!</li>
</ul>

{% endblock %}